* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.ql-font-arial {
  font-family: 'Arial'
}

.ql-font-comic-sans {
  font-family: 'Comic Sans MS'
}

.ql-font-courier-new {
  font-family: 'Courier New'
}

.ql-font-georgia {
  font-family: 'Georgia'
}

.ql-font-helvetica {
  font-family: 'Helvetica'
}

.ql-font-lucida {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande'
}

.ql-picker.ql-language [data-value='css']::before {
  content: 'css';
}

.ql-picker.ql-language [data-value='js']::before {
  content: 'js';
}

.ql-picker.ql-language [data-value='html']::before {
  content: 'html'
}

code-block {
  background-color: rgb(236, 236, 236);
  color: #f43b43;
  font-family: 'Courier New';
  padding: 0.2rem;
}